@{
    ViewData["Title"] = "Home Page";
}
<canvas id="particles-js"></canvas>
<div class="container mt-5">
    <div class="row align-items-center justify-content-around gap-5">
        <div class="col-md-3 text-center text-md-start">
            <div class="d-flex flex-column gap-3">
                <h3 class="m-0">
                    <span class="home-text">
                        Hi There,
                    </span>
                    <br />
                    <span class="home-text">
                        I'm Blerton
                    </span>
                    <span class="text-warning">
                        Hoti
                    </span>
                </h3>
                <h6 class="m-0">
                    <span class="home-text">
                        I'm
                    </span>
                    <span class="text-danger typing-text">

                    </span>
                </h6>

                <a class="mb-3 btn btn-lg btn-primary border text-white rounded-pill shadow">About Me!</a>

                <div class="d-flex align-items-center justify-content-md-between justify-content-evenly">
                    <a class="SocialLink btn rounded-circle text-white" href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a class="SocialLink btn rounded-circle text-white" href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a class="SocialLink btn rounded-circle text-white" href="https://www.github.com" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a class="SocialLink btn rounded-circle text-white" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a class="SocialLink btn rounded-circle text-white" href="mailto:blertonhoti12@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <img draggable="false" class="bg-warning rounded-circle border Profile-Logo" src="https://i.imgur.com/C21VMmz.png" title="source: imgur.com" style="max-width: 350px; width: 100%;" />
        </div>
    </div>
</div>

<button id="theme-toggle" class="btn btn-dark shadow"></button>

